**/*.pdf
**/*.png
**/.DS_Store
*.DS_Store
**/node_modules/
**/node_modules
**/.next/
**/.next-build/
**/.velite/
**/.agents/
**/.claude/
**/.codebuddy/
**/.lingma/
**/.qoder/
**/.qwen/
**/.trae/
**/.windsurf/
**/.zcode/
**/skills/
**/pnpm-lock.yaml
**/tsconfig.tsbuildinfo
apps/auron-web/next-env.d.ts
apps/auron-web/pnpm-lock.yaml
apps/auron-web/tsconfig.tsbuildinfo
